<div class="treeview-colorful w-20 border border-secondary mx-4 my-4 menu" id = "view_listadodeConvocatorias">
    <section
class="gradient-form login"
style="height: auto; "
id = "view_login"
>
<div class="container py-5 h-100" >
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-xl-10">
      <div class="card rounded-5 text-black " style = "border-width: 0px;">
        <div class="row g-0">
          <div class="col-lg-12">
            <table class="table table-stripped table-sm  table-hover"  id = "table_listadodeIntegrantes">
                <thead>
                  <tr>
                    <th>Convocatorias vigentes</th>
                  </tr>
                </thead>
                <tbody id = "tbody_listadodeConvocatorias">
               
                </tbody>
              </table>
    <form id = "formListadodeConvocatorias">
      <button type="button" class="btn btn-secondary" onclick = "despliegaSeleccionSecretario()">Regresar.</button>
    </form>
      
  </div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>