<div class="treeview-colorful w-20 border border-secondary mx-4 my-4 menu" id = "view_SeleccionSecretario">

    <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="javascript:despliegaDatosPersonales()" onclick = "despliegaDatosPersonales()">Editar datos personales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="javascript:despliegaRegistrodeIntegrantes()"  onclick = "despliegaRegistrodeIntegrantes()">Agregar integrantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:despliegalistadodeIntegrantes()"  onclick = "despliegalistadodeIntegrantes()">Modificar datos de integrante</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:despliegaMenuConvocatoria()"  onclick = "despliegaMenuConvocatoria()">Convocatorias</a>
        </li>
        <li class="nav-item"  id = "selecciondeSecretario_chat"  style = "display:none">
          <a class="nav-link" href="javascript:despliegaChat()"  onclick = "despliegaChat()">Chat de la organización</a>
        </li>
      </ul>
   
</div>