<div class="treeview-colorful w-20 border border-secondary mx-4 my-4 menu" id = "view_menuConvocatorias">

  <ul class="nav flex-column">

      <li class="nav-item" id = "opcion_registro_Nueva_Convocatoria">
        <a class="nav-link" href="javascript:crearConvocatoria()"  onclick = "crearConvocatoria()">Crear convocatoria</a>
      </li>
      <li class="nav-item" id = "opcion_modificacion_Nueva_Convocatoria">
        <a class="nav-link" href="javascript:modificarConvocatoria()"  onclick = "modificarConvocatoria()">Modificar datos de convocatoria Vigente</a>
      </li>
      <li class="nav-item" id = "opcion_listado_ordendelDia">
        <a class="nav-link" href="javascript:modificarOrdendelDia()" >Consultar Orden del día de convocatoria Vigente</a>
      </li>
      <li class="nav-item" id = "agregar_acuerdos">
        <a class="nav-link" href="javascript:modificarOrdendelDia()"  onclick = "registrarAcuerdo()">Agregar Acuerdo al Orden del día de convocatoria Vigente</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:consultarConvocatoria()"  onclick = "despliegaConsultadeConvocatoria()">Consultar convocatorias anteriores</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="javascript:despliegaSeleccionSecretario()"  onclick = "despliegaSeleccionSecretario()">Regresar</a>
        </li>
      </ul>
 
</div>